// Sassy
@use 'variables' as var;
@use 'form';
@use 'button';
@use 'header';
@use 'flash';

body {
  font-size: 1rem;
  font-family: Avenir;
  padding: 0 5%;
  position: relative;
  height: 100%;
  width: 90%;
}