// Sassy
@use 'variables' as var;
@use 'form';
@use 'button';
@use 'header';
@use 'flash';
@use 'task_card';
@use 'board_card';
@use 'task';

body {
  font-size: 1rem;
  font-family: Avenir;
  padding: 0 5%;
  position: relative;
  height: 100%;
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: 0;
}

.content-custom {
  border: 2px dashed #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  height: 10em;
  width: 95%;
}

a {
  text-decoration: none;
  color: #000;
}