@use 'variables' as var;

.b-card {
  background: rgb(244, 244, 244);
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
  padding: 1em;
  width: 90%;

  border-radius: 8px;
  padding: var.$primary-pd;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .b-card-column {
      .b-card-title {
        font-size: 24px;
      }
      .b-card-desc {
        font-size: 16px;
        margin-top: 1em;
        opacity: .4;
      }
    }

    .b-card-detail {
      padding-top: 12px;
      cursor: pointer;
      display: flex;
      font-size: 10px;
      margin-top: 1em;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
}

.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 32px;
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: #000;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.b-card-img {
  width: var.$avatar-size;
  height: var.$avatar-size;
  border-radius: 100%;
  margin-right: 8px;
}