
.actions {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 130%;
  width: 90%;
}

.btn {
  background: #F8BD1C;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  height: 3.5em;
  padding: 8px 0;
  width: 100%;
}
