@use 'variables' as var;

.form-title {
  margin: 2em 0;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1em;
  width: 100%;

  label {
    align-self: flex-start;
  }

  .form-field {
    // align-self: flex-start;
    background: rgb(244, 244, 244);
    border: none;
    border-radius: 8px;
    height: 1.5em;
    padding: var.$primary-pd;
    width: 90%;
  }

  .form-field.field-cust{
    height: 10em;
  }
}
